@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-green-soft: #d4e0b5;        /* Verde claro suave - Fondo del logo */
  --color-green-olive: #a7b86a;       /* Verde oliva - Banner inferior */
  --color-red-heart: #d6336c;         /* Rojo corazón - Pañuelo y acentos emocionales */
  --color-brown-chocolate: #4e3a2e;   /* Marrón chocolate - Color del perrito */
  --color-beige-light: #f3e6c1;       /* Beige claro - Cuerpo del perrito */
  --color-white: #f8f7f3;             /* Crema - Fondos suaves y legibilidad */
  --color-dark-text: #3c3c3c;         /* Negro suave / gris oscuro - Texto principal */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-barlow: var(--font-barlow);

  --animate-wiggle: wiggle 2s ease-in-out forwards;

  @keyframes wiggle {
    0% {
      opacity: 0; 
      transform: translateY(50px);
    }
    50% {
      opacity: 0; 
      transform: translateY(50px);
    }
    100% {
      opacity: 1; 
      transform: translateY(0)
    }
    
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



